@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');



// ____Home-js______
// .home-title {
//     src:'https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap';
//     font-family: 'Fredericka the Great', cursive;
// }


// ___Navbar-Header____
.navbar-back{
    background-color: #54BAB9!important;
}
.navbar-title {
    font-family: 'Fredericka the Great', cursive;
    color: #F7ECDE;
    font-size: 60px
}
:hover .navbar-title {
    color: #F7ECDE;
}
.collapse-navbar-collapse {
    background-color: #F7ECDE;
}
.nav-link {
    color: #F7ECDE;
    font-size:18px
}
.nav-link:hover {
    color: #F7ECDE;
}
.nav-link::after {
    color: #F7ECDE;
}
a {
    color: #54BAB9;
    text-decoration: none;
}
.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
    color: #E9DAC1
}





 